html, body, #cover {
    height:100%;
}

#cover {
    background: url('../images/mainBg.jpg') no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.fixed-top {
    max-width:1140px;
    margin:20px auto;
    transition: all 0.2s linear;
}

h1 {
    margin-top:20%;
    font-family: 'Open Sans', sans-serif;
    color:#ffffff;
    font-size:40px;
    font-style:italic;
    margin-bottom:30px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color:#ffffff;
    font-size:75px;
    font-weight:700;
    margin-bottom:30px;
}

.btn-primary {
    background-color:#fed136;
    border-style:none;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight:700;
    padding:20px 40px;
}

.btn-primary:hover {
    background-color:#ffffff;
    color:#fed136;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight:700;
    color:white !important;
    transition: color 0.5s ease;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
}

a.nav-link:hover {
    color:#fed136 !important;
}

/* Section Services */

#services {
    padding: 120px 0;
}

.services-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.services-top p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#777;
    margin-bottom:70px;
}

.item-circle {
    border:3px solid #fed136;
    width:100px;
    height:100px;
    margin:0 auto;
    border-radius:50px; 
}

.services-content i {
    color:#fed136;
    line-height:100px;
}

.services-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 700;
    color:#222;
    margin-top:24px;
}

.services-content p {
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:#777;
}

/* Section Portfolio */

#portfolio {
    background-color: #f7f7f7;
    padding-top:120px;
    padding-bottom:70px;
}

.portfolio-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.portfolio-top p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#777;
    margin-bottom:70px;
}

.card {
    border-style:none;
}

.portfolio-content .row {
    margin-bottom: 50px;
}

.portfolio-content .card-title {
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 700;
}

.portfolio-content .card-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-style: italic;
}

/* Section AboutUs */

#aboutUs {
    padding-top:120px;
    padding-bottom:30px;
}

.aboutUs-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.aboutUs-top p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#777;
    margin-bottom:70px;
}

.aboutUs-content .row {
    margin-bottom:90px;
}

.aboutUs-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 700;
}

.aboutUs-content p {
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:#777;
}

.aboutUs-content {
    position: relative;
}

.aboutUs-content::before {
    position: absolute;
    top:1px;
    bottom:0;
    content:" ";
    width:4px;
    background-color: #f1f1f1;
    left:50%;
    margin-left:-2px;
}

.about-circle {
    position: relative;
}

.about-circle::before {
    position: absolute;
    top:0;
    bottom:0;
    content:" ";
    width:183px;
    height:183px;
    background-color: #fed136;
    border-radius:92px;
    border: 7px solid #f1f1f1;
    margin-left:-91.5px;
}

.about-circle .yellow-text {
    position:relative;
    padding-top:40px;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
    font-weight: 700;
    color:white;
}

/* Section Team */

#team {
    padding-top:120px;
    padding-bottom:70px;
    background-color: #f9f9f9;
}

.team-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
}

.team-top p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#777;
    margin-bottom:70px;
}

.team-circle {
    width:226px;
    height:226px;
    background-color:#000;
    margin:0 auto;
    border-radius:113px;
    border:6px solid #fff;
    margin-bottom:20px;
}

.team-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 700;
}

.team-content h5 {
    font-family: 'Roboto Slab', serif;
    font-size:14px;
    color:#777;
}

.social-icons {
    list-style-type:none;
    margin:0;
    padding:0;
}

.social-icon {
    display:inline;
    padding-left:5px;
    padding-right:5px;
}

.social-icon .fa-brands {
    border:2px solid #000;
    width:40px;
    height:40px;
    border-radius:20px;
    line-height:36px;
    font-size:22px;
}

.team-content p {
    font-family: 'Roboto Slab', serif;
    font-size:16px;
    color:#777;
    margin:50px auto;
}

/* Section Partner */

#partner {
    padding:60px 0;
}

/* Section Contact */

#contact {
    background: url('../images/contactBg.jpg') no-repeat center center fixed;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    padding:120px 0;
}

.contact-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size:40px;
    font-weight: 700;
    color:#ffffff;
}

.contact-top p {
    font-family: 'Open Sans', sans-serif;
    font-size:16px;
    font-style:italic;
    color:#777;
    margin-bottom:70px;
}

#name, #email, #subject {
    width:90%;
    height:50px;
    border-style:none;
    border-radius:4px;
    padding-left:20px;
    margin-bottom:26px;
    margin-left:5%;
}

textarea {
    width:90%;
    height:202px;
    border-style:none;
    border-radius:4px;
    padding-left:20px;
    padding-top:15px;
    margin-left:5%;
}

.golden-form-element {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
}

/* Section Footer */

#footer {
    padding-top:30px;
    padding-bottom:10px;
}

#footer p {
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    color:#555555;
    line-height:40px;
}

.company-social-icons {
    list-style-type: none;
    margin:0;
    padding:0;
}

.company-social-icon {
    display:inline;
    padding-left:9px;
    padding-right:9px;
    color:#fff;
}

.company-social-icon .fa-brands {
    width:40px;
    height:40px;
    border-radius:20px;
    background-color: #000;
    line-height:40px;
}

.change-fix-top {
    margin:0 auto;
    background-color: #000;
    max-width: 2000px;
}

html {
    scroll-behavior: smooth;
  }

:root {
    --animate-duration: 3s;
  } 

  /* MEDIA QUERIES */

  @media (max-width: 991.98px) {

    #footer p {
        font-size:11px;
        line-height:30px;
    }
     
    .company-social-icon {
        padding-left:5px;
        padding-right:5px;
    }
    
    .company-social-icon .fa-brands {
        width:30px;
        height:30px;
        border-radius:15px;
        line-height:30px;
    }

    .portfolio-content .card-title {
        font-size:15px;
    }

    .portfolio-content .card-subtitle {
        font-size:11px;
    }

    h1 {
        font-size:31px;
        margin-top:255px;
    }
    
    h2 {
        font-size:56px;
    }

  }

  @media (max-width: 767.98px) {

    h1 {
        font-size:24px;
        margin-bottom:20px;
    }
    
    h2 {
        font-size:41px;
        margin-bottom:20px;
    }

    .btn-primary {
        font-size:16px;
        padding:16px 26px;
    }

    .card {
        margin-left:15%;
        margin-right:15%;
    }

    .aboutUs-content::before {
        display:none;
    }

    #aboutUs {
        padding-bottom:0;
    }

    #partner .col-md-3 {
        margin:20px 0;
    }

  }

  @media (max-width: 575.98px) {

    .navbar-collapse {
        background-color: rgba(0,0,0,0.3);
    }

    .navbar-light .navbar-toggler {
        border:1px solid #fed136;
    }

    h1 {
        font-size:17px;
    }
    
    h2 {
        font-size:24px;
    }

    .btn-primary {
        font-size:14px;
        padding:10px 20px;
    }

  }
  


  

